<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Shortner</title>
</head>
<body>
    <div class="box">
        <form>
            <h1>URL shortner</h1>
            <input
                type="url"
                placeholder="Enter url" 
                id="inputurl" 
                name="link" 
                autocomplete="off"
                >
            <button>Convert</button>
        </form>
        <p></p>
        <img src="monkeyloader.gif" alt="loader" id="loader">
        <div id="link">
            <h5>Hello world</h5>
           <img src="copy.png" alt="copyico" id="copy"> 
        </div>
    </div>
    <script src="home.js"></script>
</body>
</html>
